<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Programming School</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body>
    <header>
		<h1><a href="{{host_url}}">Online Programming School</a></h1>
		<nav>
			<ul>
				<li><a href="{{host_url}}/#courses">Courses</a></li>
				<li><a href="{{host_url}}/#about">About Us</a></li>
				<li><a href="{{host_url}}/#footer">Contact Us</a></li>
				<li><a href="#">Log in</a></li>
				<li><a href="#">Sign up</a></li>
			</ul>
		</nav>
	</header>
	<main role="main" class="container">
    	{% block content %}{% endblock %}
	</main>
<footer id="footer">
	<p>&copy; 2023 Online Programming School. All rights reserved.</p>
</footer>
</body>
</html>